<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.test.demo.mapper.chat.ChatRoomMapper">

    <!-- 특정 채팅방 조회 -->
    <select id="getChatRoomById" parameterType="long" resultType="com.test.demo.vo.chat.ChatRoomVO">
        SELECT
            room_id AS roomId,
            user_one AS userone,
            user_two AS usertwo,
            created_time AS roomDate
        FROM chatroom
        WHERE room_id = #{room_id}
    </select>


    <insert id="insertOrUpdateChatRoom" parameterType="com.test.demo.vo.chat.ChatRoomVO">
        INSERT INTO chatroom (room_id, user_one, user_two, created_time)
        VALUES (#{roomId}, #{roomName}, #{roomDate}, #{createdTime})
    </insert>


</mapper>